.crud__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.section {
  width: 50%;
  min-height: 200px;
  height: auto;
}
.form {
  background-color: rgb(33, 135, 153);
}
.list {
  background-color: rgb(33, 153, 83);
}
form {
  display: flex;
  flex-direction: column;
}
.campo {
  width: 50%;
  height: 25px;
  border-radius: 5px;
  outline: none;
}
.campo {
  margin: 5px 0;
}
.btn__send {
  width: 120px;
  height: 30px;
}
