.crud__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.section {
  width: 50%;
  min-height: 200px;
  height: auto;
}
.form {
}
.list {
}
form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.campo {
  width: 300px;
  height: 35px;
  padding: 5px 10px;
  background-color: #fafafa;
  border: 1px #cacaca solid;
  border-radius: 3px;
  box-shadow: inset 1px #333;
}
.campo {
  margin: 5px 0;
}
.btn.add {
  width: 320px;
  height: 40px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #6975d7;
}
.add:active {
  background-color: #4e5bc0;
}
@media (max-width: 750px) {
  .crud__container {
    flex-direction: column;
  }
  .section {
    width: 100%;
    margin-bottom: 20px;
  }
  .container__formEdit {
    text-align: center;
    margin: 0 auto;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }
  h1 {
    text-align: center;
  }
}
